<template>
  <div>
    <InputArea/>
    <ListArea/>
  </div>
</template>

<script>
import InputArea from '@/components/input-area'
import ListArea from '@/components/list-area'

export default {
  components: { InputArea, ListArea }
}
</script>
