<template>
  <form @submit.prevent="addTodoItem">
    <label>Todo List 작성: <input v-model="title" required></label>
    <button>입력</button>
  </form>
</template>
<script>
import { ref, reactive } from '@vue/composition-api'
import todoService from '@/store/todo'

export default {
  setup() {
    const title = ref('');
    const addTodoItem = e => {
      const todoItem = reactive({
        title: title.value,
        complete: false,
        timeAdded: Date.now()
      });
      todoService.list.push(todoItem);
      title.value = '';
    }
    return { title, addTodoItem };
  }
}
</script>
