<template>
  <div v-if="!!todoService.all.length">
    <h1>할일 목록 - {{todoService.all.length}}개 중,
      {{todoService.complete.length}}개 완료,
      {{todoService.active.length}}개는 아직</h1>
    <ul>
      <li v-for="item in todoService.list"
          v-if="filterService.filterBy(item)">
        <label>
          {{item.timeAdded}} - {{item.title}} - 
            {{item.complete ? "완료" : "아직"}}
          <input type="checkbox" v-model="item.complete">
        </label>
      </li>
    </ul>
    <h1>필터 - {{filterService.conditionTokorean}}</h1>
    <label>
      전부: <input type="radio" value="-1"
        v-model.number="filterService.condition">
    </label>
    <label>
      아직: <input type="radio" value="0"
        v-model.number="filterService.condition">
    </label>
    <label>
      완료: <input type="radio" value="1"
        v-model.number="filterService.condition">
    </label>
    <h1>기능 - 완료된 것들 지우기</h1>
    <button @click="todoService.purge">지우기</button>
  </div>
</template>

<script>
import todoService from '@/store/todo'
import filterService from '@/store/filter'

export default {
  setup() {
    return { todoService, filterService }
  }
}
</script>
